/* general */
body {
    background-image: url('../img/my_background.png');
    font-family: "Times New Roman", serif;
    font-size: 1.1em; /*Same as size="4" */
    color: #333333;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    /* !settings for better readability! */
    word-spacing: 0.15em;
    line-height: 1.6;
}

main {
    width: 70%;
    margin: 0 auto;
}

section {
    /* border: 1px #e3e3e3 solid; */
    /* border-radius: 5px; */
    padding: 0 5px
}

/* article {
    border-radius: 5px;
    padding: 0 5px
} */


/* Menu */
.navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.navigation-menu li { 
    display: inline-block;
    text-decoration: none;
}

.navigation-menu li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* table of terms */
.table-of-terms {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    width: 100%;

    /*shadows and gradient*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%);
}

.table-of-terms th,
.table-of-terms td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 10px;
}

/* content */
.table-of-contents {
    margin: 0px 25px 30px 25px;
}

.table-of-contents li p {
    margin: 0;
}

.table-of-contents li {
    margin-bottom: 10px;
}

.table-of-contents li:last-child {
    margin-bottom: 0;
}

.table-of-contents a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.my-image {
    float: right;
    margin-left: 15px;
}

/* HR */
.separator {
    border: none;
    border-top: 3px solid black;
    width: 100%;
    margin: 25px 0;
}

.separator-narrow {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin: 15px 0;
}

/* info cards */
.info-card-left {
    justify-content: center;
    border: 1px solid black;
    padding: 0px 10px;
    margin-right: 30px;
    border-radius: 8px;
    box-sizing: border-box;

    /* shadows */
    box-shadow: 10px 10px 53px -16px rgba(0,0,0,0.76) inset;
    -webkit-box-shadow: 10px 10px 53px -16px rgba(0,0,0,0.76) inset;
    -moz-box-shadow: 10px 10px 53px -16px rgba(0,0,0,0.76) inset;

    /* gradient */
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.info-card-right {
    justify-content: center;
    border: 1px solid black;
    padding: 0px 10px;
    margin-left: 30px;
    border-radius: 8px;
    box-sizing: border-box;

    /* shadows */
    box-shadow: 10px 10px 53px -16px rgba(0,0,0,0.76) inset;
    -webkit-box-shadow: 10px 10px 53px -16px rgba(0,0,0,0.76) inset;
    -moz-box-shadow: 10px 10px 53px -16px rgba(0,0,0,0.76) inset;

    /* gradient */
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* top&down buttons*/
.top-direction-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 48px;
    width: 48px;

    position: fixed;
    right: 20px;
    bottom: 78px; /*20(bottom margin)+48(bottom button diameter)+10(margin between buttons)*/

    font-size: 19px;
    background-color: rgb(220, 220, 220);
}

.top-direction-button a { 
    display: inline-block;
    text-decoration: none;
    color: black;
}

.bottom-direction-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 48px;
    width: 48px;

    position: fixed;
    right: 20px;
    bottom: 20px;

    font-size: 16px;
    background-color: rgb(220, 220, 220);
}

.bottom-direction-button a { 
    display: inline-block;
    text-decoration: none;
    color: black;
}